body {
  background-image: url("imagens/fundo.png");
 background-attachment:fixed;
background-size:100%;
background-repeat:no-repeat;
background-color:rgb(242, 242, 242);
 font-family: 'Bitter', serif;
 color: black;
}


.container-fluid { 
background-color: white;

}

.container{ 
 background-color:  white;
border-radius: 15px;
 }

 .instituto img{
border-radius: 5px;
text-align: center;
 }
 
 
 
 .verde { 
 background-color:red;
 
 
 }
 
